@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html, body, canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 99.2vh;
    position: relative;
}

#ui {
    position: absolute;
    top: 1.25vh;
    margin-left: auto;
    max-width: 25vw;
    max-height: 100vh;
}

#tabsLine{
    display: flex;
}

#infoBtn{
    width: 0.5vw;
    height: 1.4vw;
}

.uiBtn{
    width: 100%; 
    overflow: auto;
    max-height: 3.5vh;
    overflow-y:hidden;
}

.box{
    width: 25vw;
}

li{
    min-width: 4.8vw;
    max-width: 4.8vw;
}

#menuToggle{
    width: 1vw;
    scrollbar-width: none;
    height: 7vh;
}

#content{
    height: 73vh;
    overflow-y: scroll
}

