@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html, body, canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

#ui {
    position: absolute;
    top: 1.4vh;
    margin-left: auto;
    max-width: 25vw;
    max-height: 100vh;
}

#tabsLine{
    display: flex;
}

#infoBtn{
    width: 0.5vw;
    height: 1.4vw;
}

.uiBtn{
    width: 100%; 
    overflow: auto;
    max-height: 3.5vh;
    overflow-y: hidden;
}


#IpModelButtonLine{
    display: flex;
}

#selectCarDataFile, #selectCarModel{
    width: 49%; 
    overflow: auto;
    max-height: 3.5vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

#selectCarDataFile{
    margin-left: 2%;
}

.box{
    width: 25vw;
}

li{
    min-width: 4.8vw;
    max-width: 4.8vw;
}

#menuToggle{
    width: 1vw;
    scrollbar-width: none;
    height: 7vh;
}

#content{
    height: 73vh;
    overflow-y: scroll
}

#selectImage {
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  width: 35%;
  position: relative;
  max-width: 35%;
  height: auto;   
  display: block;
  cursor: pointer;
  margin: auto;
  margin-bottom: 5%;
}

#selectImageInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  margin-bottom: 5%;
}

#manufactureLine{
    display: flex;
}

#manufactureIn{
    width: 14vw;
}
