html, body, canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Google Sans', sans-serif;
}

#uiBar {
    min-width: max-content;
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px;
}

button, #importTrack {
    text-align: center;
    padding: 4px 10px;
    font-size: 11px;
    font-weight: 600;
    color: white;
    background-color: #76789d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover, #importTrack:hover {
    background-color: #686a8c;
}

button:active, #importTrack:active {
    background-color: #585a78;
}
